/* Basic styling */

[class^="lcc-"] {
  --lcc-primary-color-rgb: 255, 255, 255;
  --lcc-secondary-color-rgb: 17, 17, 17;
  --lcc-primary-color: rgb(var(--lcc-primary-color-rgb));
  --lcc-secondary-color: rgb(var(--lcc-secondary-color-rgb));
  --lcc-font-size: 0.875rem;
  box-sizing: border-box !important;
  color: var(--lcc-primary-color);
  font-size: var(--lcc-font-size);
  line-height: 130%;
}

[class^="lcc-"]:first-child {
  margin-top: 0;
}

[class^="lcc-"]:last-child {
  margin-bottom: 0;
}

[class^="lcc-"][inert] {
  pointer-events: none;
  cursor: default;
}

[class^="lcc-"][inert],
[class^="lcc-"][inert] * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Text */

.lcc-text {
  font-size: var(--lcc-font-size, 16px);
  margin: 0 0 22px;
}
.lcc-text a {
  padding-left: 0.5em;
}
a.lcc-link {
  cursor: pointer;
  margin: 0 0 22px;
  text-decoration: underline;
}
a.lcc-link:hover {
  text-decoration: none;
}
/* Button */

.lcc-button {
  display: inline-block;
  background: none;
  background-color: var(--lcc-primary-color);
  border: 1px solid var(--lcc-primary-color);
  color: var(--lcc-secondary-color);
  outline: none;
  font-size: inherit;
  padding: 6px 15px;
  cursor: pointer;
  margin: 1px 0;
  transition: color 0.2s ease, background-color 0.2s ease,
    border-color 0.2s ease;

  &:hover,
  &:focus {
    background: #777;
    border-color: #777;
  }
}

.lcc-button.lcc-button--link {
  color: inherit;
  background: transparent;
  border-color: transparent;
  padding-left: 0;
  padding-right: 0;
  text-decoration: underline;

  &:hover,
  &:focus {
    background: transparent;
    border-color: transparent;
    text-decoration: none;
  }

  & + & {
    margin-top: 0;
  }
}

/* Label + Input */

.lcc-label {
  margin-bottom: 5px;
  display: flex;
  align-items: baseline;

  &[for] {
    cursor: pointer;
  }

  > * {
    margin-right: 10px;
  }
}

input[id^="lcc-"]:disabled {
  cursor: default;
  color: #777;
  opacity: 0.55;

  & + span {
    cursor: default;
    opacity: 0.6;
  }
}

/* Backdrop */

.lcc-backdrop {
  background: rgba(var(--lcc-secondary-color-rgb), 0.6);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  transition: opacity 0.2s ease-in-out;
}

/* Modal */

.lcc-modal {
  --lcc-opacity: 0.8;
  background: rgba(var(--lcc-secondary-color-rgb), var(--lcc-opacity));
  max-height: 90%;
  overflow: auto;
  padding: 30px;
  position: fixed;
  padding: 30px;
  bottom: 0%;
  width: 100vw;
  z-index: 10001;

  .lcc-modal__close {
    width: 30px;
    font-size: 24px;
    line-height: 1.25;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover,
    &:focus {
      color: #777;
    }
  }

  .lcc-modal__title {
    font-size: 22px;
    margin-bottom: 1em;
  }

  .lcc-modal__section {
    margin-bottom: 1.8em;
  }

  .lcc-modal__actions {
    margin-top: 2em;
  }

  .lcc-modal__actions > * {
    display: block;
    margin-top: 0.5em;
  }
}

.lcc-modal.lcc-modal--settings {
  z-index: 10002;
}

/* Utility */

.lcc-u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.lcc-u-text-center {
  text-align: center !important;
}
